<table class="table table-bordered">
    <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Dimensions</th>
            <th scope="col">Images</th>
            <th scope="col">Availability</th>
            <th scope="col">Wood</th>
            <th scope="col">Material</th>
            <th scope="col">Type</th>
            <th scope="col">Includes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.dimensions}}</td>
            <td>{{product.images}}</td>
            <td>{{product.availability}}</td>
            <td>{{product.wood}}</td>
            <td>{{product.material}}</td>
            <td>{{product.type}}</td>
            <td>{{product.includes}}</td>
        </tr>
    </tbody>
</table>